.btn{
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  max-width: 280px;
  line-height: 70px;
  text-align: center;
  border-radius: 3px;
  transition: 1s all;
  &_blue{
    background-color: $blue;
    color: $white;
    &:hover{
      background-color: #00237D;
    }
  }
  &_white{
    border: solid 1px #C4C4C4;
    background-color: $white;
    color: $black;
    &:hover{
      background-color: #F5F5F5;
    }
  }
}

