body {
  font-family: $base-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #818181;
}
.container-fluid {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}
.container {
  width: 100%;
  max-width: 930px;
  padding: 0 60px;
  margin: 0 auto;
}

.overflow-h {
  overflow: hidden !important;
}
