.footer {
  background: #fff;
  overflow: hidden;
  &-body {
    position: relative;
    margin-top: 160px;
  }
  &-bg {
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 750px;
    margin-right: 100px;
    height: 110%;
    background: url(../img/footer-bg.svg) bottom right no-repeat;
    background-size: contain;
  }
  &-bottom {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
    margin-top: 100px;
  }
  &-form {
    margin: 0 auto;
    position: relative;
    z-index: 10;
  }
  &-policy {
    font-size: 14px;
    line-height: 16px;
    color: #818181;
    margin: 0 20px;
    &:hover {
      text-decoration: underline;
    }
  }
  &-tel {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
  }
}
