/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/roboto-latin_cyrillic/roboto-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/roboto-latin_cyrillic/roboto-latin_cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-latin_cyrillic/roboto-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-latin_cyrillic/roboto-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-latin_cyrillic/roboto-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-latin_cyrillic/roboto-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-latin_cyrillic/roboto-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-latin_cyrillic/roboto-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Druk*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img[src=''],
img:not([src]) {
  opacity: 0;
}

/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  -webkit-transition-delay: 9999s;
}

/* stylelint-disable */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus, a:hover, a:active, a:visited {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input,
textarea {
  border-radius: 0;
}

input::-ms-clear {
  width: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #818181;
}

.container-fluid {
  width: 100%;
  max-width: 1230px;
  padding: 0 25px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1250px;
  padding: 0 25px;
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.overflow-h {
  overflow: hidden !important;
}

.hidden {
  display: none;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.pt-0 {
  padding-top: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-sb {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

.select {
  position: relative;
  margin-right: 10px;
  padding: 5px 20px 5px 0px;
  border-right: 1px solid #e5e5e5;
}

.select__current {
  position: relative;
  color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  transition: all 0.3s ease;
}

.select__current::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 0px;
  width: 10px;
  height: 5px;
  margin-left: 8px;
  background: url("../img/icons/arrow-top.svg") center center no-repeat;
  transition: all 0.3s ease;
}

.select__current img {
  transition: all 0.3s ease;
  margin-right: 5px;
}

.select__body {
  position: absolute;
  display: inline-block;
  min-width: 75px;
  margin-top: 10px;
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: -1;
}

.select__item {
  font-size: 14px;
  line-height: 16px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.select__item img {
  transition: all 0.3s ease;
  margin-right: 30px;
}

.select__item:last-child {
  margin-bottom: 0;
}

.select__item:hover {
  transition: all 0.3s ease;
  background: #dde2ef;
  color: #002b98;
}

.select.is-active .select__body {
  top: 100%;
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  z-index: 100;
}

.select.is-active .select__current::after {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

.form-contact {
  width: 100%;
}

.form-title {
  font-size: 34px;
  line-height: 48px;
  margin-bottom: 50px;
  color: #000000;
}

.form-input__label {
  color: #818181;
  margin-bottom: 20px;
  display: block;
  font-size: 18px;
  line-height: 24px;
}

.form-input__error {
  position: absolute;
  bottom: -5px;
  left: 0;
  margin-top: 10px;
  transform: translateY(0%);
  color: #dc0a17;
  transition: all 0.3s ease;
  font-size: 12px;
  line-height: 18px;
  opacity: 0;
}

.form-input__content {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.form-input__wrapp {
  position: relative;
  transition: all 0.3s ease;
  margin-right: 30px;
  margin-top: 9px;
}

.form-input__wrapp.--error:after {
  content: '!';
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #dc0a17;
  color: #fff;
  font-size: 14px;
  display: block;
  border-radius: 50%;
}

.form-input__wrapp.--error .form-input__line {
  transition: all 0.3s ease;
  width: 100%;
  background: #dc0a17;
}

.form-input__wrapp.--error .form-input__error {
  transform: translateY(100%);
  opacity: 1;
  transition: all 0.3s ease;
}

.form-input__wrapp.--error .form-input:focus {
  background: transparent;
  transition: all 0.3s ease;
}

.form-input__wrapp.--error .form-input:focus + .form-input__line {
  width: 100%;
  background: #dc0a17;
  transition: all 0.3s ease;
}

.form-input__line {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background: transparent;
  transition: all 0.3s ease;
}

.form-input {
  font-family: "Roboto", sans-serif;
  display: block;
  width: 100%;
  max-width: 510px;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  background: transparent;
  padding: 0;
  padding-bottom: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #818181;
  transition: all 0.3s ease;
}

.form-input::placeholder {
  font-size: 45px;
  line-height: 45px;
  color: #646464;
  opacity: 1;
  background: transparent;
  font-family: "Roboto", sans-serif;
}

.form-input::-moz-placeholder, .form-input::-webkit-input-placeholder {
  font-size: 45px;
  line-height: 45px;
  color: #646464;
  opacity: 1;
  background: transparent;
  font-family: "Roboto", sans-serif;
}

.form-input:focus {
  background: transparent;
  transition: all 0.3s ease;
}

.form-input:focus + .form-input__line {
  width: 100%;
  background: #002b98;
  transition: all 0.3s ease;
}

.form-input:hover {
  transition: all 0.3s ease;
  border-bottom: 1px solid #002b98;
}

.form-button {
  color: #ffffff;
  background: #002b98;
  font-size: 14px;
  line-height: 26px;
  padding: 27px 77px;
  border-radius: 3px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.form-button:hover {
  transition: all 0.3s ease;
  background: #00237d;
}

.form__policy {
  display: block;
  width: 100%;
  max-width: 320px;
  font-size: 14px;
  line-height: 16px;
  color: #818181;
}

.form__policy a {
  white-space: nowrap;
  color: #00237d;
}

.form__policy a:hover {
  text-decoration: underline;
}

.form-thank {
  display: flex;
  align-items: flex-start;
}

.form-thank img {
  margin-right: 50px;
}

.form-thank__text {
  font-size: 34px;
  line-height: 48px;
  width: 100%;
  max-width: 330px;
  color: #000;
}

.form-thank__text span {
  display: block;
  margin-top: 5px;
  font-size: 16px;
  line-height: 22px;
  color: #818181;
}

.form-thank__text span a {
  white-space: nowrap;
  color: #002b98;
}

.form-thank__text span a:hover {
  text-decoration: underline;
}

.form-thank__text span span {
  display: block;
  margin-top: 10px;
}

.slick-dots {
  display: block;
  margin-top: 30px;
  width: 100%;
  font-size: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  outline: none;
  display: block;
  width: 6px;
  height: 6px;
  background: #b8b8b8;
  cursor: pointer;
  color: transparent;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.slick-dots .slick-active button {
  background: #002b98;
  opacity: 1;
  transition: all 0.3s ease;
}

.slider-btn {
  position: absolute;
  top: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0 0 3px 3px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
  outline: none;
}

.slider-btn span {
  width: 15px;
  height: 15px;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
}

.slider-btn:hover {
  transition: all 0.3s ease;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.slider-btn.slick-disabled {
  cursor: default;
  opacity: 0.6;
  pointer-events: none;
}

.slider-btn.slick-disabled:hover {
  opacity: 0.6;
  background: none;
}

.slider-btn:before {
  content: '';
  background-color: aliceblue;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(0.001, 0.001);
}

.slider-btn:active {
  outline: 0;
  color: #fff;
}

.slider-btn:active:before {
  animation: effect_dylan 0.3s forwards;
}

@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

.slider-btn__prev {
  transform: translateY(-50%) rotate(45deg);
  left: -80px;
  z-index: 10;
}

.slider-btn__next {
  transform: translateY(-50%) rotate(225deg);
  right: -80px;
}

.slider-btn--effect-boris::after {
  background: rgba(111, 148, 182, 0.1);
}

.slider-btn--effect-boris.cbutton--click::after {
  animation: anim-effect-boris 0.3s forwards;
}

@keyframes anim-effect-boris {
  0% {
    transform: scale3d(0.3, 0.3, 1);
  }
  25%,
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale3d(1.2, 1.2, 1);
  }
}

.h-fixed {
  position: fixed !important;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s ease;
  opacity: 1;
  background: #fff;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.15);
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  transition: all 0.5s ease;
}

.header.active {
  z-index: 15;
  top: -100%;
  transition: all 0.3s;
}

.header-container {
  position: relative;
  width: 100%;
  max-width: 2440px;
  padding: 8px 30px;
  margin: 0 auto;
}

.header-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo img {
  height: 22px;
}

.header-menu__wrapp {
  margin-left: auto;
  margin-right: 20px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu li a {
  display: block;
  color: #000000;
  transition: all 0.3s ease;
  padding: 0 20px;
  font-size: 14px;
  line-height: 18px;
}

.header-menu li a:hover {
  color: #002b98;
  transition: all 0.3s ease;
}

.header-options {
  display: flex;
  align-items: center;
}

.header-btn {
  display: inline-block;
  padding: 0px 30px;
  font-weight: bold;
  font-size: 12px;
  line-height: 45px;
  text-align: center;
  transition: all 0.3s ease;
  color: #fff;
  background: #000000;
  border-radius: 3px;
  margin-left: 20px;
}

.header-btn:hover {
  transition: all 0.3s ease;
  opacity: 0.8;
}

.header__mob-conten {
  display: none;
}

.contact-tell {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.contact-tell__icon {
  display: flex;
  align-items: center;
  display: none;
}

.contact-tell__icon img {
  height: 16px;
}

.header-burger {
  width: 16px;
  height: 13px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1000;
}

.header-burger span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #000;
  opacity: 1;
  right: 0;
  transition: 0.25s ease-in-out;
}

.header-burger span:nth-child(1) {
  top: 0;
}

.header-burger span:nth-child(2) {
  top: 6px;
}

.header-burger span:nth-child(3) {
  bottom: 0;
}

.header-burger__wrapper {
  display: none;
  align-items: center;
}

.header-burger__wrapper.active span:nth-child(1) {
  top: 6px;
  transform: rotate(135deg);
}

.header-burger__wrapper.active span:nth-child(2) {
  opacity: 0;
  right: 60px;
}

.header-burger__wrapper.active span:nth-child(3) {
  top: 6px;
  transform: rotate(-135deg);
}

.main-title {
  margin-top: 240px;
  min-height: 300px;
  display: flex;
  align-items: center;
}

.main-title img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.main-img img {
  max-width: 100%;
  width: 100%;
  display: block;
  margin: auto;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.btn-wrapper .btn {
  margin: 0 10px;
}

.levitation {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-15px);
  }
  to {
    transform: translatey(0px);
  }
}

.main-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-img img {
  transform: scale(1);
  position: absolute;
  max-width: 1047px;
}

.specifications {
  max-width: 1115px;
  margin: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.specifications__item {
  text-align: center;
  border-right: 1px solid #e5e5e5;
}

.specifications__item:last-child {
  border-right: none;
}

.specifications__header {
  font-size: 60px;
  min-height: auto;
  align-items: baseline;
  color: #000000;
}

.specifications__header span {
  font-size: 28px;
}

.specifications__description {
  font-size: 16px;
  color: #818181;
  line-height: 140%;
}

.description-device {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 160px;
}

.second-title {
  font-size: 34px;
  font-weight: 400;
  color: #000000;
}

.about-product,
.about-cap {
  position: relative;
}

.about-product .circle,
.about-cap .circle {
  display: contents;
  position: relative;
}

.about-product .circle img,
.about-cap .circle img {
  position: absolute;
}

.about-product .description,
.about-cap .description {
  margin-top: 50px;
  font-size: 18px;
  color: #818181;
}

.about-cap {
  margin-top: 110px;
  position: relative;
  padding: 0 25px;
}

.framing {
  margin-top: 30px;
  position: relative;
  background-size: cover;
  background: url(../img/map.png);
  height: 600px;
  width: 100%;
  background-position-x: center;
  background-repeat: no-repeat;
}

.framing:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 23.44%, #fff 100%);
}

.blue-point {
  position: absolute;
  text-align: center;
  top: 17%;
  left: 29%;
}

.blue-point .point {
  padding: 17px 23px;
  background: #1e1e2b;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
  color: #fff;
  border-radius: 10px;
  display: grid;
  justify-items: baseline;
  position: relative;
}

.blue-point .point:after {
  content: '';
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #1e1e2b;
  border-width: 10px;
  margin-left: -10px;
  z-index: 99999;
}

.blue-point .heading {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 16px;
  text-align: left;
  justify-items: flex-end;
}

.blue-point .data {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 16px;
  justify-items: flex-end;
  margin-top: 24px;
}

.blue-point .profile {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.red-point {
  position: absolute;
  text-align: center;
  top: 46%;
  left: 70%;
}

.red-point .point {
  padding: 17px 23px;
  background: #fff;
  position: relative;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: grid;
  justify-items: baseline;
}

.red-point .point:after {
  content: '';
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px;
  z-index: 99999;
}

.red-point .info img {
  margin-top: 11px;
}

.specifications-device {
  margin-left: 40px;
  margin-right: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.specifications-device__item {
  text-align: center;
  border-right: 1px solid #e5e5e5;
}

.specifications-device__item:last-child {
  border-right: none;
}

.specifications-device__header {
  font-size: 60px;
  min-height: auto;
  align-items: baseline;
  color: #000000;
}

.specifications-device__header span {
  font-size: 28px;
}

.specifications-device__description {
  font-size: 16px;
  color: #818181;
  line-height: 140%;
}

.description-cap-desktop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 120px;
  position: relative;
  width: 100%;
}

.description-cap-desktop .text-heading {
  --animate-duration: 1.5s;
  margin-bottom: 40px;
}

.description-cap-desktop .left-block {
  z-index: 99;
  justify-self: start;
  margin-left: 20%;
}

.description-cap-desktop .right-block {
  z-index: 99;
  display: grid;
  align-items: end;
  justify-self: end;
}

.description-cap-desktop .heading {
  font-size: 60px;
  color: #000000;
}

.description-cap-desktop .description {
  font-size: 14px;
  color: #818181;
}

.description-cap-desktop img.point1 {
  max-width: 270px;
  position: absolute;
  top: 56px;
  left: 200px;
}

.description-cap-desktop img.pointBottom {
  display: none;
}

.description-cap-desktop img.point2 {
  max-width: 325px;
  position: absolute;
  bottom: 33px;
  right: 280px;
}

.description-cap-desktop img.pointTop {
  display: none;
}

.description-cap-desktop img.point3 {
  max-width: 369px;
  position: absolute;
  left: 22%;
  bottom: 26%;
  z-index: 99;
}

.description-cap-desktop img.pointBottom {
  display: none;
}

.description-cap-desktop .block-flipper {
  min-height: 385px;
}

.description-cap-desktop .flipper {
  position: absolute;
  max-width: 508px;
  max-height: 336px;
  transition: all 1s ease-in;
}

.description-cap-desktop .flipper.move {
  animation-delay: 0.1s;
  transform: translate(80px, 366px) scale(0.63) rotate(-18deg);
}

.description-cap-desktop .vanta {
  margin-top: 75px;
  margin-left: 20%;
}

.description-cap-desktop .text-heading {
  --animate-duration: 1.5s;
  margin-bottom: 40px;
}

.description-cap-mobile {
  display: none;
  margin: auto;
  max-width: 998px;
}

.description-cap-mobile .description-cap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 120px;
  margin-bottom: 80px;
  position: relative;
  width: 100%;
}

.description-cap-mobile .heading {
  font-size: 40px;
  color: #000000;
}

.description-cap-mobile .description {
  font-size: 14px;
  color: #818181;
}

.description-cap-mobile .flipper {
  width: 40vw;
  max-width: 583px;
}

.description-cap-mobile .left-block {
  justify-self: start;
}

.description-cap-mobile .right-block {
  display: grid;
  align-items: end;
  justify-self: end;
}

.description-cap-mobile .point1 {
  width: 14.6vw;
  max-width: 210px;
  position: absolute;
  top: 36px;
  left: 200px;
}

.description-cap-mobile .pointBottom {
  display: none;
  max-width: 210px;
  position: absolute;
  margin-left: 25px;
  margin-top: 15px;
}

.description-cap-mobile .point2 {
  max-width: 240px;
  position: absolute;
  bottom: 78px;
  right: 150px;
  width: 16.66667vw;
}

.description-cap-mobile .pointTop {
  display: none;
}

.description-cap-mobile .point3 {
  max-width: 394px;
  position: absolute;
  left: 22%;
  bottom: 63%;
  width: 25vw;
}

.description-cap-mobile .pointBottom {
  display: none;
}

.description-cap-mobile .vanta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 80px;
  position: relative;
}

.prices-item__wrapp {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 430px;
}

.prices-flipper {
  background: #002b98;
}

.prices-panel {
  background: #f5f5f5;
}

.prices-panel .prices-text, .prices-panel .prices-text--mob {
  color: #000000;
}

.prices-panel .prices-title {
  color: #000000;
}

.prices-panel .prices-desc {
  color: #000000;
}

.prices-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prices-col__photo {
  margin-right: 150px;
  max-width: 470px;
}

.prices-col img {
  width: 100%;
  height: auto;
}

.prices-text, .prices-text--mob {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
  display: block;
}

.prices-text--mob, .prices-text--mob--mob {
  display: none;
}

.prices-title {
  width: 100%;
  font-size: 34px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 10px;
}

.prices-desc {
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 35px;
  width: 100%;
  max-width: 340px;
}

.prices-equipment__item {
  position: relative;
  display: block;
  padding-left: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 10px;
  color: #ffffff;
}

.prices-equipment__item::after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background: #c9ab7e;
}

.prices-price {
  font-size: 60px;
  line-height: 60px;
  color: #c9ab7e;
  margin-bottom: 50px;
}

.prices-price span {
  position: relative;
  display: block;
  margin-top: 5px;
  font-size: 14px;
  line-height: 16px;
  color: #818181;
  width: 100%;
  max-width: 230px;
}

.prices-price span::after {
  content: '*';
  position: absolute;
  color: #000;
  left: -10px;
  top: 0;
}

.panel {
  padding-top: 100px;
  padding-bottom: 150px;
  overflow: hidden;
}

.panel-body {
  display: flex;
  flex-direction: column;
}

.panel-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.panel-row:last-child {
  margin-bottom: 0;
}

.panel-left__content {
  width: 100%;
  max-width: 200px;
}

.panel-title {
  font-weight: 400;
  font-size: 34px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 50px;
}

.panel-title span {
  position: relative;
  white-space: nowrap;
}

.panel-title span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 120%;
  height: 90px;
  background: url(../img/icons/oval.svg) center center no-repeat;
  background-size: contain;
}

.panel-text {
  font-size: 18px;
  line-height: 26px;
  color: #818181;
  width: 100%;
  max-width: 470px;
}

.panel-right__content {
  width: 100%;
  max-width: 200px;
}

.panel-left__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.5;
  padding-right: 10px;
}

.panel-options__list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  margin: 0 -15px -50px -15px;
}

.panel-options__item {
  width: calc(33.3333% - 30px);
  margin: 0 15px 50px 15px;
}

.panel-options__item-icon {
  margin-bottom: 20px;
}

.panel-options__item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px;
}

.panel-options__item-text {
  font-size: 14px;
  line-height: 16px;
  color: #818181;
}

.panel-left__slider {
  width: 100%;
  max-width: 200px;
}

.panel-slider__wrapp {
  max-width: 100%;
  margin-right: auto;
}

.panel-slider {
  max-width: 770px;
}

.panel-slider .slick-list {
  overflow: visible;
}

.panel-slider__item {
  outline: none;
  box-shadow: 9px 9px 55px 25px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.25);
}

.panel-slider__item img {
  width: 100%;
  height: auto;
}

.how-works {
  background: #002b98;
}

.how-works .heading {
  font-size: 16px;
  font-weight: 700;
  opacity: 0.5;
}

.how-works .text {
  margin-left: 5px;
  opacity: 50%;
  font-size: 14px;
}

.how-works .description {
  margin-top: 50px;
  font-size: 18px;
}

.how-works .inner-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 0;
  color: #fff;
}

.how-works .inner-image {
  display: none;
}

.how-works .spec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

.how-works .spec .item {
  margin-top: 40px;
}

.how-works .spec .characteristic {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.how-works .spec .description-spec {
  font-size: 16px;
  margin-top: 12px;
  opacity: 50%;
  line-height: 140%;
}

.how-works .mark {
  display: flex;
  margin-top: 30px;
}

.how-works .image {
  display: grid;
  align-items: center;
  justify-content: center;
}

.information-send {
  padding-bottom: 100px;
  overflow: hidden;
}

.information-send .heading {
  font-size: 16px;
  font-weight: 700;
  opacity: 0.5;
}

.information-send .inner-block {
  padding: 120px 0;
}

.information-send .spec {
  z-index: 99;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  grid-gap: 50px;
  position: relative;
}

.information-send .spec .img {
  position: absolute;
  left: 50%;
  margin-top: 200px;
  transform: translateX(-50%);
}

.information-send .spec .img__wrapper {
  position: relative;
}

.information-send .spec .img .signal {
  position: absolute;
  top: 0;
}

.information-send .heading-item {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  color: #000000;
}

.information-send .inner-img {
  display: none;
}

.information-send .description {
  margin-top: 12px;
  color: #818181;
  font-weight: 400;
}

.privacy-policy {
  padding-top: 200px;
  background: #fff;
}

.privacy-policy__title {
  font-weight: 400;
  font-size: 34px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 80px;
  margin-left: 250px;
}

.privacy-policy__body {
  display: flex;
}

.privacy-policy__menu-body {
  width: 100%;
  max-width: 200px;
  margin-right: 50px;
}

.privacy-policy__menu-item {
  margin-bottom: 20px;
}

.privacy-policy__menu-link {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #818181;
  transition: all 0.3s ease;
}

.privacy-policy__menu-link:hover {
  transition: all 0.3s ease;
  color: #000000;
}

.privacy-policy__content {
  width: 100%;
  max-width: 770px;
  margin-left: 0;
  margin-right: auto;
}

.privacy-policy__paragraph {
  padding-top: 50px;
}

.privacy-policy__paragraph:first-child {
  padding-top: 0;
}

.privacy-policy__paragraph h2 {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
  margin-bottom: 30px;
}

.privacy-policy__paragraph p {
  font-size: 16px;
  line-height: 22px;
  color: #818181;
  margin-bottom: 20px;
}

.privacy-policy__paragraph a {
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  color: #002b98;
  font-weight: 500;
}

.privacy-policy__paragraph a:hover {
  text-decoration: underline;
}

.privacy-policy__paragraph ul {
  margin-bottom: 20px;
}

.privacy-policy__paragraph ul li {
  padding-left: 20px;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #818181;
}

.privacy-policy__paragraph ul li::after {
  content: '-';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.page-404__wrapp {
  position: relative;
  height: calc(100vh - 100px);
  min-height: 600px;
  display: flex;
  align-items: center;
}

.page-404__body {
  padding: 50px 0 0 200px;
}

.page-404__title {
  display: inline-block;
  font-size: 60px;
  line-height: 60px;
  color: #000000;
  margin-bottom: 30px;
  position: relative;
  white-space: nowrap;
}

.page-404__title span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 300%;
  height: 90px;
  background: url(../img/icons/oval.svg) center center no-repeat;
  background-size: contain;
}

.page-404__text {
  font-size: 16px;
  line-height: 22px;
  color: #818181;
  margin-bottom: 30px;
  max-width: 250px;
}

.footer-404 {
  overflow: visible !important;
}

.footer-404 .footer-bg {
  height: 700px;
  width: 630px;
  margin-right: 0;
  bottom: 0;
}

.footer-404 .footer-body {
  padding-top: 0 !important;
  overflow: visible !important;
}

.footer {
  background: #fff;
  overflow: hidden;
}

.footer-body {
  position: relative;
  padding-top: 160px;
  overflow: hidden;
}

.footer-bg {
  position: absolute;
  bottom: -100px;
  right: 0;
  width: 750px;
  margin-right: 100px;
  height: 90%;
  background: url(../img/footer-bg.svg) bottom right no-repeat;
  background-size: contain;
}

.footer-bottom {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
  margin-top: 100px;
}

.footer-form {
  margin: 0 auto;
  position: relative;
  z-index: 10;
  padding-left: 50px;
  padding-right: 50px;
}

.footer-policy {
  font-size: 14px;
  line-height: 16px;
  color: #818181;
  margin: 0 20px;
}

.footer-policy:hover {
  text-decoration: underline;
}

.footer-tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.btn {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  max-width: 280px;
  line-height: 70px;
  text-align: center;
  border-radius: 3px;
  transition: 1s all;
}

.btn_blue {
  background-color: #002b98;
  color: #ffffff;
}

.btn_blue:hover {
  background-color: #00237D;
}

.btn_white {
  border: solid 1px #C4C4C4;
  background-color: #ffffff;
  color: #000000;
}

.btn_white:hover {
  background-color: #F5F5F5;
}

@media (max-width: 1439px) {
  .description-cap-desktop {
    display: none;
  }
  .description-cap-mobile {
    display: block;
  }
  .information-send .spec {
    grid-gap: 40px;
  }
}

@media (max-width: 1023px) {
  .main-title {
    margin-top: 140px;
  }
  .specifications {
    grid-template-columns: 1fr 1fr;
  }
  .specifications__item {
    border: none;
  }
  .specifications__item:first-child {
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
  }
  .specifications__item:nth-child(2) {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
  }
  .specifications__item:nth-child(3) {
    border-right: 1px solid #e5e5e5;
    padding-top: 20px;
  }
  .specifications__item:nth-child(4) {
    padding-top: 20px;
  }
  .second-title {
    font-size: 28px;
  }
  .specifications-device {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .specifications-device__item {
    border: none;
  }
  .specifications-device__item:first-child {
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
  }
  .specifications-device__item:nth-child(2) {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
  }
  .specifications-device__item:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 20px;
  }
  .specifications-device__header {
    margin: 30px;
  }
  .description-cap-mobile {
    max-width: 650px;
  }
  .description-cap-mobile .description-cap {
    margin-top: 90px;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    justify-items: center;
    padding: 0 25px;
  }
  .description-cap-mobile .left-block {
    justify-self: start;
    margin-left: 20%;
  }
  .description-cap-mobile .right-block {
    margin-right: 8%;
  }
  .description-cap-mobile .point1,
  .description-cap-mobile .point2,
  .description-cap-mobile .point3 {
    display: none;
  }
  .description-cap-mobile .pointBottom {
    display: block;
    max-width: 210px;
    position: absolute;
    margin-left: 25px;
    margin-top: 15px;
  }
  .description-cap-mobile .pointTop {
    display: block;
    max-width: 210px;
    position: absolute;
    bottom: 184px;
    right: 44px;
    margin-right: 12%;
  }
  .description-cap-mobile .flipper {
    width: 50vw;
  }
  .description-cap-mobile .vanta {
    grid-template-columns: 1fr;
    margin-top: 0px;
  }
  .description-cap-mobile .vanta .text {
    margin-top: 50px;
    display: grid;
    justify-content: center;
  }
  .description-cap-mobile .vanta .pointBottom {
    position: absolute;
    margin-left: 44%;
    margin-top: 155px;
  }
  .description-cap-mobile .vanta .block-img-vanta {
    line-height: 0.5;
    display: grid;
    justify-content: center;
  }
  .description-cap-mobile .vanta .description {
    margin-bottom: 44px;
  }
  .how-works .inner-block {
    grid-template-columns: 1fr;
    max-width: 700px;
    width: 100%;
    margin: auto;
  }
  .how-works .inner-image {
    display: block;
    margin: 50px 0;
  }
  .how-works .image {
    display: none;
  }
  .information-send {
    padding-bottom: 0;
    margin: auto;
  }
  .information-send .inner-block {
    padding: 100px 0;
    padding-bottom: 0;
    max-width: 700px;
    width: 100%;
    margin: auto;
  }
  .information-send .spec {
    grid-template-columns: 1fr;
  }
  .information-send .heading-item {
    font-size: 16px;
  }
  .information-send .inner-img {
    display: block;
    position: relative;
  }
  .information-send .inner-img .flipper-sideways {
    position: absolute;
    transform: scale(0.9);
    max-width: 770px;
    width: 100%;
    left: 10px;
    transition: 0.3s;
  }
  .information-send .inner-img .signal {
    max-width: 711px;
    width: 100%;
  }
  .information-send .empty-block {
    display: none;
  }
  .information-send .img {
    display: none;
  }
}

@media (max-width: 844px) {
  .main-title {
    min-height: auto;
  }
  .main-img {
    margin: auto;
    max-width: 600px;
    margin-top: 60px;
  }
  .description-cap-mobile .left-block {
    justify-self: start;
    margin-left: 26%;
  }
  .description-cap-mobile .right-block {
    margin-right: 18%;
  }
  .description-cap-mobile .img-vanta {
    width: 67vw;
    max-width: 649px;
    margin: auto;
    display: block;
  }
  .about-cap img {
    width: 48%;
  }
  .second-title {
    font-size: 24px;
  }
}

@media (max-width: 599px) {
  .main-img {
    margin-top: 30px;
  }
  .specifications {
    margin: auto;
    margin-top: 50px;
  }
  .specifications__header {
    font-size: 40px;
  }
  .specifications__description {
    font-size: 14px;
  }
  .specifications-device {
    margin: auto;
  }
  .specifications-device__header {
    font-size: 40px;
  }
  .specifications-device__description {
    font-size: 14px;
  }
  .btn-wrapper {
    display: block;
  }
  .btn-wrapper .btn {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
  .btn-wrapper .btn:first-child {
    margin-bottom: 15px;
  }
  .description-device {
    margin-top: 50px;
  }
  .second-title {
    font-size: 20px;
  }
  .about-product img {
    width: 200px;
  }
  .about-product .description,
  .about-cap .description {
    margin-top: 30px;
    font-size: 16px;
  }
  .blue-point {
    left: 0;
  }
  .red-point {
    display: none;
  }
  .about-cap {
    margin-top: 100px;
    padding: 0;
  }
  .about-cap .circle img {
    width: 193px;
    margin: -14px;
    left: 0;
    top: 35px;
  }
  .description-cap-mobile .description-cap {
    margin-top: 50px;
  }
  .description-cap-mobile .left-block {
    margin-left: 14%;
  }
  .description-cap-mobile .right-block {
    margin-right: 0;
  }
  .description-cap-mobile .flipper {
    width: 75vw;
  }
  .how-works .heading {
    font-size: 12px;
  }
  .how-works .description {
    font-size: 16px;
  }
  .how-works .image {
    display: none;
  }
  .how-works .spec {
    grid-template-columns: 1fr;
  }
  .how-works .spec .characteristic {
    font-size: 16px;
  }
}

@media (max-width: 1160px) {
  .contact-tell {
    display: none;
  }
  .contact-tell__icon {
    display: flex;
  }
  .header-menu li a {
    padding: 0 10px;
    font-size: 14px;
  }
  .header-btn {
    padding: 0 15px;
    line-height: 35px;
  }
  .prices-col__photo {
    margin-right: 50px;
  }
  .prices-col__content {
    max-width: 400px;
  }
  .prices-item__wrapp {
    min-height: 400px;
  }
  .prices-title {
    font-size: 26px;
    line-height: 38px;
  }
  .prices-desc {
    font-size: 16px;
    line-height: 22px;
  }
  .prices-equipment__item {
    padding-left: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  .prices-price {
    font-size: 46px;
    line-height: 46px;
  }
  .panel {
    padding-bottom: 100px;
  }
  .panel-row {
    margin-bottom: 50px;
  }
  .panel-title {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .panel-text {
    font-size: 16px;
    line-height: 22px;
  }
  .panel-right__content {
    display: none;
  }
  .panel-left__content {
    max-width: 160px;
    min-width: 160px;
  }
  .panel-left__title {
    font-size: 14px;
    line-height: 16px;
  }
  .panel-options__list {
    width: calc(100% + 20px);
    margin: 0 -10px -30px -10px;
  }
  .panel-options__item {
    width: calc(33.3333% - 20px);
    margin: 0 10px 30px 10px;
  }
  .panel-options__item-title {
    font-size: 16px;
    line-height: 20px;
  }
  .panel-left__slider {
    width: 100%;
    max-width: 200px;
  }
  .panel-slider {
    max-width: 620px;
  }
  .page-404__wrapp {
    min-height: 500px;
  }
  .page-404__body {
    padding: 50px 0 0 150px;
  }
  .page-404__bg {
    width: 500px;
  }
  .footer-tel {
    display: block !important;
  }
  .footer-form {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 900px) {
  .header__select-lang, .header-btn {
    display: none;
  }
  .header-burger__wrapper {
    display: block;
  }
  .header__mob-conten {
    display: block;
  }
  .header-logo {
    position: relative;
    z-index: 1000;
  }
  .header-menu__wrapp {
    position: absolute;
    background: #fff;
    left: -1000px;
    right: 0;
    top: 0px;
    padding: 50px 30px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  .header-menu__wrapp.active {
    transition: all 0.4s ease;
    opacity: 1;
    left: 0;
    visibility: visible;
  }
  .header-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-menu li {
    width: 100%;
  }
  .header-menu li a {
    padding: 15px 0px;
    font-size: 14px;
  }
  .header-btn {
    padding: 0px 30px;
    line-height: 45px;
    align-self: flex-start;
    margin-left: 0;
  }
  .header__select-lang {
    border-right: 0;
  }
  .contact-tell__icon {
    position: relative;
    z-index: 1000;
  }
  .panel-slider {
    max-width: 500px;
  }
  .privacy-policy {
    padding-top: 100px;
  }
  .privacy-policy__title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  .privacy-policy__menu-body {
    display: none;
  }
  .privacy-policy__content {
    max-width: 100%;
  }
  .privacy-policy__paragraph h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .page-404__title {
    display: flex;
    justify-content: center;
  }
  .page-404__title span::after {
    width: 100%;
  }
  .page-404__wrapp {
    height: auto;
    min-height: 500px;
    align-items: flex-start;
    justify-content: center;
  }
  .page-404__body {
    padding: 100px 0 50px 0px;
  }
  .page-404__btn {
    max-width: 180px;
    height: 65px;
    line-height: 65px;
  }
  .footer-body {
    padding-top: 100px;
  }
  .footer-bg {
    width: 100%;
    margin-right: 0;
  }
  .footer-bottom {
    flex-direction: column-reverse;
    padding: 30px 0;
    margin-top: 50px;
  }
  .footer-form {
    max-width: 300px;
  }
  .footer-policy {
    margin: 10px 0px 50px 0px;
  }
  .footer-tel {
    display: block !important;
    font-weight: 400;
    font-size: 34px;
    line-height: 48px;
  }
  .form-title {
    font-size: 20px;
    line-height: 28px;
  }
  .form-input__label {
    margin-bottom: 10px;
  }
  .form-input__error {
    font-size: 12px;
    line-height: 14px;
  }
  .form-input__content {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  .form-input__wrapp {
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .form-input {
    font-size: 35px;
    line-height: 35px;
  }
  .form-input::placeholder {
    font-size: 35px;
    line-height: 35px;
  }
  .form-input::-moz-placeholder, .form-input::-webkit-input-placeholder {
    font-size: 35px;
    line-height: 35px;
  }
  .form-button {
    display: block;
    width: 100%;
  }
  .form-thank {
    flex-direction: column;
    max-width: 250px;
    margin: 0 auto;
  }
  .form-thank img {
    margin-right: 0px;
    margin-bottom: 20px;
    width: 50px;
  }
  .form-thank__text {
    font-size: 20px;
    line-height: 28px;
    max-width: 240px;
  }
  .form-thank__text span {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
  }
  .footer-404 .footer-bg {
    background-position-x: center;
    height: 300px;
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .prices-col__photo {
    margin-right: 0px;
  }
  .prices-col__content {
    max-width: 100%;
  }
  .prices-item__wrapp {
    min-height: auto;
    flex-direction: column-reverse;
    max-width: 500px;
    margin: 0 auto;
  }
  .prices-text {
    display: none;
  }
  .prices-text--mob {
    display: block;
    margin-bottom: 50px;
    order: 1;
  }
  .prices-title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .prices-price {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 40px;
  }
  .prices-price span {
    margin-top: 10px;
  }
  .panel-row {
    flex-direction: column;
  }
  .panel-title {
    font-size: 20px;
    line-height: 26px;
  }
  .panel-left__content {
    max-width: 100%;
    min-width: 100%;
  }
  .panel-left__title {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
  }
  .panel-options__item {
    width: calc(50% - 20px);
  }
  .panel-slider {
    margin: 0 auto;
  }
  .panel-slider .slider-btn {
    top: 100%;
  }
  .panel-slider .slider-btn__prev {
    left: 0px;
  }
  .panel-slider .slider-btn__next {
    right: 0px;
  }
  .panel-slider__wrapp {
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .panel-options__item {
    width: calc(100% - 20px);
  }
}
/*# sourceMappingURL=main.css.map */